#mainAnchorPane, #contributorsAnchorPane {
  -fx-background-radius: 7;
}

#mainHBox, #contributorsHBox {
  -fx-background-radius: 7 7 0 0;
}

#autoTextAnchorPane {
 -fx-background-radius: 0 0 7 7;
}

#checkBoxStartHotkey,
#checkBoxPasteText,
#checkBoxPasteTextLineForLine,
#checkBoxHoldClick,
#labelPartingLineUpper,
#labelPartingLineLower,
#labelOptions,
#labelStartInterval,
#labelStartIntervalDays,
#labelStartIntervalHours,
#labelStartIntervalMinutes,
#labelStartIntervalSeconds,
#labelDurationDays,
#labelDurationHours,
#labelDurationMinutes,
#labelDurationSeconds,
#labelAutoSpeed,
#labelIntervalDays,
#labelIntervalHours,
#labelIntervalMinutes,
#labelIntervalSeconds,
#labelIntervalMilliseconds,
#labelAutoClicker,
#labelSettings,
#labelClickType,
#labelPosition,
#labelPositionX,
#labelPositionY,
#labelKey,
#labelAutoText,
#labelAutoTextReplace,
#labelAutoTextInputCharCount,
#labelErrorMessage,
#radioButtonAutoClicker,
#radioButtonAutoText,
#radioButtonQuantity,
#radioButtonInterval,
#radioButtonDuration,
#radioButtonHoldHotkey,
#radioButtonSpeed,
#radioButtonMouseKey,
#radioButtonF5 {
 -fx-text-fill: "#00FF00" !important;
}

#choiceBoxClickType .label,
#choiceBoxMouseKey .label,
#choiceBoxReplaceOptions .label,
#textAreaSplit,
#textAreaSplitTo,
#textAreaTextEntry,
#textFieldStartHotkey,
#textFieldStartIntervalDays,
#textFieldStartIntervalHours,
#textFieldStartIntervalMinutes,
#textFieldStartIntervalSeconds,
#textFieldQuantity,
#textFieldDurationDays,
#textFieldDurationHours,
#textFieldDurationMinutes,
#textFieldDurationSeconds,
#textFieldSpeed,
#textFieldIntervalDays,
#textFieldIntervalHours,
#textFieldIntervalMinutes,
#textFieldIntervalSeconds,
#textFieldIntervalMilliseconds,
#textFieldPositionXCoordinate,
#textFieldPositionYCoordinate {
 -fx-text-fill: green !important;
}

#choiceBoxClickType,
#choiceBoxMouseKey,
#choiceBoxReplaceOptions,
#textAreaSplit,
#textAreaSplitTo,
#textAreaTextEntry,
#textFieldPositionXCoordinate,
#textFieldPositionYCoordinate {
 -fx-prompt-text-fill: green !important;
}